* {
  box-sizing: border-box;
}

body {
  background: #ff7f50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 45px;
  color: #fff;
}

canvas {
  background: #f0f0f0;
  display: block;
  border-radius: 5px;
}
.arrows-control {
  display: none;
}
.arrows-control button {
  font-size: 2rem;
  width: 120px;

  margin: 1rem;
  background: orange;
  color: #fff;
  border: 1px solid yellow;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
}
.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 10, 10, 0.787);
  color: #fff;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  /* transform: translateX(-400px); */
  transform: translate3d(-1500px, -500px, 0px);
  /* transition: all 0.5s ease-out; */
  transition: transform 1.3s ease-in-out;
}

.rules.show {
  /* transform: translateX(0); */
  transform: translate3d(0, 0, 0);
}

/* .popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container .popup {
  width: 70%;
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
} */
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 840px) {
  #canvas {
    width: 95%;
  }
  .rules {
    width: 100%;
    padding: 20px;
  }
  /*  .arrows-control {
    display: block;
    margin-top: 2rem;
  } */
}

@media (pointer: coarse) {
  .arrows-control {
    display: block;
    margin-top: 2rem;
  }
}
